@import 'colors';
@import 'icons';
@import 'images';
@import 'tokens';

/**
 * Base Font
 */
$font: 'Open Sans', Arial, sans-serif;

/**
 * Form
 */
$form-width: 480px;
$form-field-height: 80px;
$form-field-padding-top: 16px;
$form-field-full-height: ($form-field-height + $form-field-padding-top);

/**
 * Select
 */
$select-height: ($form-field-height * 3);

/**
 * Checkbox & Radio
 */
$checkbox-item-margin-bottom: 20px;
$checkbox-dot-size: 16px;
$checkbox-dot-margin-right: 15px;

/**
 * Button
 */
$raised-button-height: 48px;
$wide-button-width: 156px;
