/**
 * Logo
 */
$logo-width: 102px;
$logo-height: 24px;

$logo: url('/assets/logo/logo.svg');

/**
 * Thumbnail
 */
$thumbnail-width: 200px;
$thumbnail-height: 165px;

$man-blue: url('/assets/thumbnail/man-blue.svg');
$key-blue: url('/assets/thumbnail/key-blue.svg');
$cloud-white: url('/assets/thumbnail/cloud-white.svg');
$cloud-blue: url('/assets/thumbnail/cloud-blue.svg');
